{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrahead %}

<script src="/static/mootools-1.2.4-core-yc.js"></script>
<script src="http://maps.google.com/maps?file=api&v=2&sensor=false&key=ABQIAAAANcexVU-PTYxrvhlhfETtrRSviK87wC1D4ZXd6SUwo7wtUQVNOxQHWkEN8vWrkqYxypQwuLMe_prApQ"></script>

<script>
var map;
function initialize() {
    if (GBrowserIsCompatible()) {
        map = new GMap2(document.getElementById('map'));
        map.setCenter(new GLatLng(41.879535, -87.624333), 5);
        map.setUIToDefault();
    }
}

function addLoadEvent(func) {
  var oldonload = window.onload;
  if (typeof window.onload != 'function') {
    window.onload = func;
  } else {
    window.onload = function() {
      if (oldonload) {
        oldonload();
      }
      func();
    }
  }
}

addLoadEvent(initialize);

</script>
<style>
    body {
        font-family: sans-serif;
    }
    #map {
        width: 500px;
        height: 300px;
    }
</style>

<script type="application/javascript">
	
	var location_x = 0.0;
	var location_y = 0.0;
	
	function choose_location() {
		get_location_from_map();

		// show search form
		document.getElementById("location_form").style.display = "none";
		document.getElementById("location_form").style.visibility = "hidden";
		
		document.getElementById("search_form").style.display = "block";
		document.getElementById("search_form").style.visibility = "visible";	
	}
	
	function get_location_from_map() {
		location_x = 37.803782;
		location_y = -122.417049;
	}
	
	function search() {
		var concept = document.getElementById("concept").value;
		var params = { 'q': concept, "location_x": location_x, "location_y": location_y };
		var jsonRequest = new Request.JSON({url: "/search/", onSuccess: process_results}).get(params);
	}
	
	function process_results(responseJSON, responseText) {
		alert(responseText);
	}
	

</script>


{% endblock %}




{% block content %}

<h1>Search near-by people to collaborate with</h1>

	<div id="location_form" style="display: block; visibility: visible;">
		Click on the map to choose your locacation: <input type="button" value="Continue" onclick="choose_location()"/>	
	</div>

	<div id="search_form" style="display: none; visibility: hidden;">
		Enter a keyword to search: <input type="text" id="concept"/> <input type="button" value="Search" onclick="search()"/>	
	</div>

	<div id="map"></div>
	
{% endblock %}
