{% extends "admin/base_site.html" %}
{% load i18n %}

{% block extrahead %}

<script src="/static/mootools-1.2.4-core-yc.js"></script>
<script src="http://maps.google.com/maps?file=api&v=2&sensor=false&key=ABQIAAAANcexVU-PTYxrvhlhfETtrRSviK87wC1D4ZXd6SUwo7wtUQVNOxQHWkEN8vWrkqYxypQwuLMe_prApQ"></script>

<script>
var map;
var locationMarker;

function initialize() {
    if (GBrowserIsCompatible()) {
        map = new GMap2(document.getElementById('map'));
        map.setCenter(new GLatLng(40.713956, -74.014893), 7);
        map.setUIToDefault();
		
		GEvent.addListener(map,"click", function(overlay, latlng) {     
  				if (latlng) { 
					var marker = new GMarker(latlng, {draggable: true});
					
					if(locationMarker){
						map.removeOverlay(locationMarker);
					}
					
					locationMarker= marker;
					map.addOverlay(marker);
  				}
			}
		);

    }
}

function addLoadEvent(func) {
  var oldonload = window.onload;
  if (typeof window.onload != 'function') {
    window.onload = func;
  } else {
    window.onload = function() {
      if (oldonload) {
        oldonload();
      }
      func();
    }
  }
}

addLoadEvent(initialize);

</script>
<style>
    body {
        font-family: sans-serif;
    }
    #map {
        width: 500px;
        height: 300px;
    }
</style>

<script type="application/javascript">
	function search() {
		if(locationMarker == null){
			alert("Please, click on the map to choose your locacation first.");
			return;
		}
		
		var locationLatLng = locationMarker.getLatLng();
		var concept = document.getElementById("concept").value;

		var params = { 'q': concept, "location_x": locationLatLng.lat(), "location_y": locationLatLng.lng() };
		var jsonRequest = new Request.JSON({url: "/search/", onSuccess: process_results}).get(params);
	}
	
	function process_results(responseJSON, responseText) {
		alert(responseText);
	}
	

</script>


{% endblock %}




{% block content %}

<h1>Search near-by people to collaborate with</h1>

	<div id="search_form" style="display: block; visibility: visible;">
		Enter a keyword to search: <input type="text" id="concept"/> <input type="button" value="Search" onclick="search()"/>	
	</div>

	<div id="map"></div>
	
{% endblock %}
